<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%=link_to 'Create a hero', root_path%></h3>
  </div>
  <div class="panel-body">
    <div class="card" style="width: 20vw;">
  <img class="card-img-top" src=<%= @avatar %> alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><span class='card__helper__text'>Name:<br> </span><%= @hero_prefix + ' ' + @hero_name + ' ' + @hero_suffix %></h5>
    <br>
    <p class="card-text"><span class='card__helper__text'>Description:<br> </span><%= @hero_description %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><span class='card__helper__text'>Power:<br> </span><%= @hero_power %></li>
    <li class="list-group-item"><span class='card__helper__text'>Day Job:<br> </span><%= @hero_dayjob %></li>
    <li class="list-group-item"><span class='card__helper__text'>Real Name:<br> </span><%= @hero_realname %></li>
    <li class="list-group-item"><span class='card__helper__text'>Arch Nemesis:<br> </span><%= @hero_archenemy %></li>
    <li class="list-group-item"><span class='card__helper__text'>Hobby:<br> </span><%= @hero_hobby %></li>
    <li class="list-group-item"><span class='card__helper__text'>Age:<br> </span><%= @hero_age%></li>
  </ul>
</div>
  </div>
  <div class='panel-footer'><%=link_to 'Create A Team', home_team_path%></div>
</div>
